name: 'Continuous Integration'
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  OPENAI_API_TYPE: ${{ vars.OPENAI_API_TYPE }}
  OPENAI_API_BASE: ${{ vars.OPENAI_API_BASE }}
  OPENAI_ENGINE: ${{ vars.OPENAI_ENGINE }}
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - id: changed-files
      uses: tj-actions/changed-files@v35
      with:
        files: examples/**/*.md
        separator: ','
    - if: steps.changed-files.outputs.any_changed == 'true'
      uses: ./
      with:
        topic-file: steps.changed-files.outputs.all_changed_files
        output-dir: 'docs'
    - uses: stefanzweifel/git-auto-commit-action@v4
